.container{
   display: grid;
   width: 90%;
   background-color: rgba(255, 228, 196, 0.781);
   margin: 40px auto;
   grid-gap: 10px;
   //grid-template-rows: repeat(2,min-content);
   //grid-template-columns: min-content 1fr 1fr min-content;

   //grid-template-rows: 80px min-content ;?

   //grid-template-columns: minmax(200px,300px) repeat(3,1fr);//width 90% bayad bashe.

   grid-template-rows: repeat(2, minmax(80px,min-content));
   grid-template-columns: repeat(auto-fit,minmax(200px,1fr));//implicit
   grid-auto-rows: 150px;//explicit

   &>*{
    background-color: rgb(170, 119, 85);
    color: rgb(236, 236, 236);
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
   }

}

