.container{
   display: grid;
   width: 800PX;
   margin: 40px auto;
   grid-template-columns: repeat(2,1fr);
   grid-template-rows: repeat(2,150px);
   grid-gap: 10px;
   grid-auto-flow: column;
   grid-auto-columns: .5fr;
   //grid-auto-rows: 80px;

   &>*{
    background-color: rgb(102, 21, 21);
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
   }

}

